<div class="two-cols-section">
    <div class="col-body">
        <h3>
            {{items.header}}
        </h3>
        <p>
            {{items.body}}
        </p>
    </div>
    <div class="col-img">
        <img src="{{items.img}}" alt="{{items.header}}">
    </div>
</div>